<mat-accordion multi>
    <mat-expansion-panel *ngFor="let subCourse of subCourses; let i = index" [expanded]="i === subCourses.length - 1">
        <mat-expansion-panel-header>
            <mat-panel-title>{{subCourse.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div>duration of sub-course: {{subCourse.duration.count}} {{subCourse.duration.type}}</div>
        <div>break between sub-courses: {{subCourse.break.count}} {{subCourse.break.type}}</div>
        <div>count of procedure: {{subCourse.procedure.count.count}} {{subCourse.procedure.count.type}}</div>
        <div>break between procedures: {{subCourse.procedure.break.count}} {{subCourse.procedure.break.type}}</div>
        <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="dateClass(subCourse)"></mat-calendar>
    </mat-expansion-panel>
</mat-accordion>
<br/><br/><br/><br/>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{subCourseFormGroup.get('name').value}}</mat-card-title>
        <mat-card-subtitle>SubCourse</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="subCourseFormGroup" (submit)="submitForm()">
            <mat-form-field class="example-full-width">
                <input matInput
                       placeholder="subCourseName"
                       formControlName="name"
                >
            </mat-form-field>
            <app-term
                [termFormGroup]="subCourseFormGroup.get('duration')"
                [placeholder]="'duration of sub-course'"
            ></app-term>
            <app-term
                [termFormGroup]="subCourseFormGroup.get('break')"
                [placeholder]="'break between sub-courses'"
            ></app-term>
            <app-procedure
                [procedureFormGroup]="subCourseFormGroup.get('procedure')"
            ></app-procedure>
            <mat-form-field class="glp-xl-6 glp-sm-12">
                <input readonly
                       required
                       matInput
                       [matDatepicker]="datePickerStartDate"
                       formControlName="startDate"
                       placeholder="Start at">
                <mat-datepicker-toggle matSuffix [for]="datePickerStartDate"
                                       [hidden]="false">
                </mat-datepicker-toggle>
                <mat-datepicker #datePickerStartDate></mat-datepicker>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">SAVE</button>
        </form>
    </mat-card-content>
</mat-card>
