<h1 mat-dialog-title>Create course</h1>
<div mat-dialog-content>
    <form [formGroup]="createCourseFormGroup" (submit)="submitForm()">
        <mat-form-field>
            <input matInput
                   placeholder="Course name?"
                   formControlName="name"
            >
        </mat-form-field>
        <div>
            <button mat-button (click)="closeDialog()">Cancel</button>
            <button type="submit" mat-button cdkFocusInitial>Create</button>
        </div>
    </form>
</div>
