<form [formGroup]="termFormGroup" *ngIf="isShowing">
    <mat-form-field
        class="term-field"
        floatLabel="always">
        <input [formControl]="termFormGroup.get('count')"
               [required]="isShowing"
               appOnlyNumbers
               matInput
               [placeholder]="placeholder">
        <mat-select
            matSuffix
            [formControl]="termFormGroup.get('type')"
            [value]="termTypes[1]"
        >
            <mat-option *ngFor="let termType of termTypes" [value]="termType">
                {{termType}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="termFormGroup.get('count').hasError('required')">Required field</mat-error>
        <mat-error *ngIf="termFormGroup.get('count').hasError('procedureBreak')">Put the correct value</mat-error>
    </mat-form-field>
</form>
