<mat-accordion multi>
    <mat-expansion-panel *ngFor="let subCourse of course.subCourses; let i = index" [expanded]="i === course.subCourses.length - 1">
        <mat-expansion-panel-header>
            <mat-panel-title>{{subCourse.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <button type="button" mat-raised-button color="primary"
                (click)="editSubCourse(subCourse.id)"
        >Edit</button>
        <button type="button" mat-raised-button color="primary"
                [disabled]="i === 0 && course.subCourses.length > 1"
                (click)="deleteSubCourse(subCourse.id)"
        >Delete</button>
        <div>duration of sub-course: {{subCourse.duration.count}} {{subCourse.duration.type}}</div>
        <div>break between sub-courses: {{subCourse.break.count}} {{subCourse.break.type}}</div>
        <div>count of procedure per: {{subCourse.procedureCount.count}} {{subCourse.procedureCount.type}}</div>
        <div>break between procedures: {{subCourse.procedureBreak.count}} {{subCourse.procedureBreak.type}}</div>
        <div class="calendar">
            <mat-calendar #calendar
                          (selectedChange)="setCompleteDates($event,calendar,subCourse)"
                          [dateFilter]="getDisabledDates(subCourse)"
                          [dateClass]="getDateClass(subCourse)"
                          [startAt]="subCourse.startDate"
            ></mat-calendar></div>
    </mat-expansion-panel>
</mat-accordion>
